form{
text-align:center;
background:yellow;
box-sizing:border-box;
width:500px;
padding:25px;
border-radius:30px;
box-shadow:0px 2px 10px gray;
}
.conteiner{
width:170;
margin:0 auto;
}
form label{
display:block;
}
input[type="text"],input[type="tel"],input[type="email"]{
box-sizing:border-box;
padding-left:5px;
width:170px;
}
.s label{
display:inline;
margin-right:10px;
}
.submit{
text-align:center;
}
input[type="submit"]{
border-radius:10px;
border:none;
padding:5x 10px;
background:green;
color:red;
}
input[type="submit"]:hover{
background:purple;
color:green;
}
input[type="reset"]
background:red;
.reset{
text-align:center;
}
h3::after{
content:'';
display:block;
height:10px;
width:100%;
background:oloive;
position:absolute;
left:0;
top:100%;
}
h3{
position:relative;
color:orange;
}
input[type="reset"]:hover{
background:purple;
}
.fille{
text-align:center;
margin-left:40px;
}

